@font-face {
    font-family: 'NewEsprit';
    src: url('fonts/new_esprit_itc_display_bold/new_esprit_itc_display_bold.ttf') format('truetype');
}

:root {
    --header-bg: #F7EEF1;
    --heading-color: #80011E;
    --what-we-deal-background: #EBC6CE;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'NewEsprit', sans-serif !important;
}
body {
    font-family: sans-serif !important;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.header-bg {
    background-color: var(--header-bg) !important;
}

.contact-us-section{
    background-color: #EBC6CE !important;
}

.btn-dd-enterprise {
    background: var(--heading-color) !important;
    color: #fff !important;
}

.dd-enterprise-heading {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--heading-color);
    font-family: 'NewEsprit', sans-serif !important;
}

.hero-section {
    min-height: 500px;
    background: linear-gradient(45deg, #F0EAEC, #E9CBD3);
}

.hero-data-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us-section {
    background-color: var(--header-bg);
    min-height: 500px;
}

.what-we-deal {
    background: var(--what-we-deal-background);
}

.product-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.find-us-section {
    background: var(--header-bg);
}

.reviews-slider-section {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  overflow: hidden;
  width: 90%;
}

.slider-track {
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease;
}

.review-card {
  min-width: 300px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  text-align: left;
  transition: transform 0.3s;
}

.review-card:hover {
  transform: scale(1.03);
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.review-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.review-stars {
  color: #ffc107;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.review-text {
  font-style: italic;
  color: #333;
}

.slider-btn {
  background-color: var(--heading-color);
  color: white;
  border: none;
  font-size: 24px;
  padding: 5px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
}

.slider-btn:hover {
  background-color: var(--heading-color);
}

.slider-btn.left {
  position: absolute;
  left: 0;
}

.slider-btn.right {
  position: absolute;
  right: 0;
}
